/* KANBOARD PLUGIN - AGILE INDICATORS CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-orange: #FF6500;
    --red-icon-faded: #b71234a1;
    --border-radius: 3px;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --button-blue-border-gradient-match: #476E9E;
    --link-hover-red: #AE003D;
    --link-hover-white: #EEEEEE;
    --pp-blue-box: rgba(0, 122, 201, 0.6);
    --box-shadow: 1px 1px 1px 0px #000;
}

.display-none, .d-none {
    display: none !important;
}
